[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/conque-term"]
	path = bundle/conque-term
	url = git://github.com/rosenfeld/conque-term.git
[submodule "bundle/ccase"]
	path = bundle/ccase
	url = git://github.com/vim-scripts/ccase.vim.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/ttcn-syntax"]
	path = bundle/ttcn-syntax
	url = git://github.com/vim-scripts/ttcn-syntax.git
[submodule "bundle/ttcn-indent"]
	path = bundle/ttcn-indent
	url = git://github.com/vim-scripts/ttcn-indent.git
[submodule "bundle/ttcn-dict"]
	path = bundle/ttcn-dict
	url = git://github.com/vim-scripts/ttcn-dict.git
[submodule "bundle/ttcn-ftplugin"]
	path = bundle/ttcn-ftplugin
	url = git://github.com/vim-scripts/ttcn-ftplugin.git
